<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Authorization</title>
</head>
<body>
<div>
    <p>User with <%= email%> already exist</p>
</div>
<a href="/">Login</a>
</body>
</html>