<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Authorization</title>
</head>
<body>
<form method="POST" action="/">
    <div>
        <label for="name">Username:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Login</button>
</form>

<a href="/users/new">Registration</a>
</body>
</html>