<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Authorization</title>
</head>
<body>
<div>
    <p>Invalid credentials</p>
</div>
<a href="/">Back</a>
</body>
</html>