<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<div>
    <%users.forEach((user) => { %>
    <ul>
        <li>
            <%= "user id: " + user.id%>
        </li>
        <li>
            <%= "user name: " + user.name %>
        </li>
        <li>
            <%= "user email: " + user.email%>
        </li>
        
    </ul>
    <% })%>
</div>
<a href="/users/new">Add User</a><br>
<a href="/">Login</a>
</body>
</html>